<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
   <head>
      <title>AEM Experiments</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
         html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
         .w3-sidebar {
         z-index: 3;
         width: 250px;
         top: 43px;
         bottom: 0;
         height: inherit;
         }
      </style>
   </head>
   <body>
      <!-- Navbar -->
      <div class="w3-top">
         <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-theme-l1">
            <img th:src="@{/images/logo.png}" width="100" height="20">
            </a>
            <a href="/demo/greeting" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Create Users</a>
            <a href="/demo/list" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Users List</a>
         </div>
      </div>
      <!-- Overlay effect when opening sidebar on small screens -->
      <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
      <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
      <div class="w3-main" style="margin-left:250px">
         <div class="w3-row w3-padding-64">
            <div class="w3-twothird w3-container">
               <h1>Form</h1>
               <form action="#" th:action="@{/demo/greeting}" th:object="${user}" method="post">
               	  <p>ID : <input type="text" th:field="*{id}" size="100" /></p>
                  <p>Name of the User : <input type="text" th:field="*{name}" size="100" /></p>
                  <p>Email id of the user: <input type="text" th:field="*{email}" size="100" /></p>
                  <p>Mobile Num of the user: <input type="text" th:field="*{mob}" size="100" /></p>
                  
                  <p>Pan Number: <input type="text" th:field="*{panCard}" size="100" /></p>
                  <p>Aadhar Number: <input type="text" th:field="*{adharCard}" size="100" /></p>
                  <p>Date of Joining: <input type="text" th:field="*{doj}" size="100" /></p>


                  <p>First Name : <input type="text" th:field="*{fName}" size="100" /></p>
                  <p>Last Name : <input type="text" th:field="*{lName}" size="100" /></p>
                  <p>Transaction Type :
                  
                  	<select th:field="*{bankTransactionType}">
					    <option th:value="'self'" th:text="Self"></option>
					    <option th:value="'Nominee'" th:text="Nominee"></option>
					</select>
                   </p>
                  <p>Bank Account Number : <input type="text" th:field="*{bankAccountNumber}" size="100" /></p>
                  <p>Bank IFSC Code : <input type="text" th:field="*{bankIFSCCode}" size="100" /></p>
                  <p>Name as per the Bank : <input type="text" th:field="*{nameAsPerBank}" size="100" /></p>
                  
                  <p>Nominee First Name : <input type="text" th:field="*{nomineeFName}" size="100" /></p>
                  <p>Nominee Last Name : <input type="text" th:field="*{nomineeLName}" size="100" /></p>
                  <p>Nomine Pan Card Number : <input type="text" th:field="*{nomineePanCard}" size="100" /></p>
                  <p>Nomine Aadhar Card Number : <input type="text" th:field="*{nomineeAadharCard}" size="100" /></p>
                  
                  <p>Nominee Bank Account Number : <input type="text" th:field="*{nomineeBankAccountNumber}" size="100" /></p>
                  <p>Nominee Bank IFSC Code : <input type="text" th:field="*{nomineeBankIFSCCode}" size="100" /></p>
                  <p>Nominee Name as per the Bank : <input type="text" th:field="*{nomineeNameAsPerBank}" size="100" /></p>
                  
                  
                  <p>Last Working Date (If Applicable): <input type="text" th:field="*{lwd}" size="100" /></p>
                  <p>Address of the Employee : <input type="text" th:field="*{userAddress}" size="100" /></p>
                  

                  <p><input type="submit" value="Submit"/> <input type="reset" value="Reset" /></p>
               </form>
            </div>
         </div>
         <!-- END MAIN -->
      </div>
   </body>
</html>
<script>
   // Get the Sidebar
   var mySidebar = document.getElementById("mySidebar");
   
   // Get the DIV with overlay effect
   var overlayBg = document.getElementById("myOverlay");
   
   // Toggle between showing and hiding the sidebar, and add overlay effect
   function w3_open() {
     if (mySidebar.style.display === 'block') {
       mySidebar.style.display = 'none';
       overlayBg.style.display = "none";
     } else {
       mySidebar.style.display = 'block';
       overlayBg.style.display = "block";
     }
   }
   
   // Close the sidebar with the close button
   function w3_close() {
     mySidebar.style.display = "none";
     overlayBg.style.display = "none";
   }
</script>