<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org">

    <div th:include="emp-header"></div>

 

    <body>

        <div th:include="emp-navigation"></div>

        <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->

        <div class="w3-main" style="margin-left:250px">

            <div class="w3-row w3-padding-64">

                <div class="w3-twothird w3-container">

                    <h1>Employee Details</h1>

                    <div th:include="header"></div>

                    <form th:action="@{/employee/updateemployee}" th:object="${empDetails}" method="post">

                        <section>

                            <h2>Personal Details</h2>

                            <hr>

                            <p>ID: <input type="text" th:value="${empDetails.id}" readonly size="100" /></p>

                            <p>First Name: <input type="text" th:field="*{firstname}" size="100" /></p>
                            <p>Primary Mobile No: <input type="text" th:field="*{primarymobileno}" size="100" /></p>
                            <p>Email Id: <input type="text" th:field="*{emailid}" size="100" /></p>
                            <p>Project Name: <input type="text" th:field="*{projectname}" size="100" /></p>
                            <p>Work Allocation Days: <input type="text" th:field="*{workallocationdays}" size="100" /></p>
                            <p>Monthly Salary: <input type="text" th:field="*{monthlysalary}" size="100" /></p>
                            <p>Work Type: <input type="text" th:field="*{worktype}" size="100" /></p>
                        </section>

                        <p><input type="submit" value="Update" /> <input type="reset" value="Reset" /></p>

                    </form>

                </div>

            </div>

            <!-- END MAIN -->

        </div>

    </body>

    <div th:include="emp-footer"></div>

</html>

 