<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
   <head>
      <title>AEM Experiments</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
         html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
         .w3-sidebar {
         z-index: 3;
         width: 250px;
         top: 43px;
         bottom: 0;
         height: inherit;
         }
      </style>
   </head>
   <body>
      <!-- Navbar -->
      <div class="w3-top">
         <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-theme-l1">
            <img th:src="@{/images/logo.png}" width="100" height="20">
            </a>
            <a href="/demo/greeting" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Create Users</a>
            <a href="/demo/list" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Users List</a>
         </div>
      </div>
      <!-- Overlay effect when opening sidebar on small screens -->
      <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
      <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
      <div class="w3-main" style="margin-left:250px">
         <div class="w3-row w3-padding-64">
            <div class="w3-twothird w3-container">



	<h1>Form</h1>
	
	Your Details have been saved <p th:utext="${reqHTML}"/>
<table border="1">
  <tr>
   <td> <strong> Name </strong></td>
   <td> <strong> Email </strong></td>
   <td> <strong> Mobile </strong></td> 
   <td> <strong> DOJ </strong></td>
   <td> <strong> Pan Number </strong></td>
   <td> <strong> Aadhar Number </strong></td> 
  </tr>

<tr th:each="user : ${usersDetails}">
<a th:href="@{'updateprofile?id=' + ${user.id}}" style="float: right;"><span>Edit Profile</span></a>
   	
   <td th:text="${user.name}">User Name</td>
   <td th:text="${user.email}">Email Id</td>
      <td th:text="${user.mob}">Mobile Number</td>
       <td th:text="${user.doj}"></td>
       <td th:text="${user.panCard}"></td>
       <td th:text="${user.adharCard}"></td>
      </br></br>
  </tr>
   </table>



</body>
</html>




